@font-face {
    font-family: 'Greek Freak'; /* Nome que você quer dar à fonte */
    src: url('Greek-Freak.ttf') format('truetype'); /* Substitua 'Greek-Freak.ttf' pelo nome do seu arquivo de fonte */
    font-weight: normal; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

h1 {
    font-family: 'Greek Freak', sans-serif; /* Aplicando a fonte apenas ao h1 */
    font-size: 48px;
    position: relative;
    display: inline-block;
    padding: 20px 30px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f5f5f5; /* Cinza claro */
    font-size: 18px; /* Tamanho base de fonte */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
}

/* Estilos para o cabeçalho */
header {
    background-color: #ffcc80; /* Laranja claro */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #333;
    font-size: 36px; /* Tamanho do cabeçalho */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    font-size: 20px; /* Tamanho do menu */
}

nav ul li a:hover {
    color: #666;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
}

section {
    background-color: #fff; /* Branco */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #ff9966; /* Laranja */
    margin-bottom: 20px; /* Espaçamento extra */
    font-size: 24px; /* Tamanho do título */
}

section p {
    color: #333;
    margin-bottom: 10px;
}

/* Estilos para o rodapé */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
